body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #E5E5E5;
}
:root{
    --blue-color:#562EFF;
    --background-color:#562EFF;
}
/* navbar start*/
.nav-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #562EFF;
}
.main-nav{
width: 870px;
/* height: 94px; */
display: flex;
justify-content: space-between;
background-color: var(--background-color);
color: #ffffff;
}
.nav-left{
    display: flex;
}
.nav-left img{
    width: 40.42px;
    height: 51px;
    padding: 1em;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0 10px;
}
.nav-right img{
    width: 51px;
    height: 51px;
}
/* navbar end*/

 /* top player && top blogs start */

.container{
    display: flex;
    justify-content: center;
}
.container-player-blog{
    background-color: #ffffff;
    width: 870px;
    /* height: 660px; */
    padding: 10px;
   
}
.top-player h2,.top-blog h2,.latest-course h2,span{   
    color: var(--blue-color);
}
.top-player,.top-blog{
    padding-left: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    /* width: 870px; */
    /* height: 200px; */
    /* border-bottom: 1px solid #D1D1D1; */


}
.player img{
    width: 56px;
    height: 56px;
}
.player h3 ,.blog-main h3{
    /* width: 82px;
    height: 27px; */
    /* margin-left: 8px; */

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* white-space: nowrap; */
    color: black;
}
.player h3{
    padding-left: 8px;
}
.player{
    display: flex;
    align-items: center;
}
hr{
    width: 807px;
    color: #f1f1f1b1;
   
}

/* top-blogs */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    /* height: 360px; */
    grid-row-gap: 2em;

}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-main{
    display: flex;
    width: 100%;
    
    
}
.blog-by{
    margin-left: 16px;
    padding: 0 3px;
    flex-wrap: wrap;
}
.blog-by p{
    /* margin-top: 25px; */
    /* padding: 8px; */
}
 /* top player && top blogs end */

 /* latest courses start */
 .latest-course-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
 }
 .courses{
    display: flex;
    justify-content: space-evenly;
    
 }
 .course img{
    width: 100%;
    height: 104px;
 }
 .course{
    padding: 1em;
    box-shadow: 1px 1px 20px lightgray;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 100%;
 }
 .latest-course{
    width: 870px;
    height: 380px;
    background-color: #ffffff;
 }
 .latest-course h2{
    margin-left: 30px;
 }
 .course p{
    margin-top: 0px;
    color: #ED6B4F;
    margin-bottom: 10px;
    
 }
 .course h3{
    margin-bottom: 0;
 }
 .courses-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .time{
    background-color: #FFE4E8 ;
    border: 1px solid  #FFE4E8;;
    border-radius: 15px;
    color: #FF4A60;
    padding: 0 7px;
 }
 .fa-star{
    width: 11.39px;
    height: 11.81px;
    color: #FFC014;
 }
 .gray{
    color:#A2A2A2;
 }
  /* latest courses end */

  @media (max-width:845px) {
    .players{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    
    }
    .blogs{
        height: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .courses{
        flex-wrap: wrap;
        
     }
     .latest-course{
        height: auto;
     }
     .main-nav{
        width: 100%;
        justify-content: center;
     }
     .nav-container{
        /* display: flex; */
        width: 100%;
        background-color: #fff52e;
    }
    
    .latest-course h2{
        text-align: center;
    }
  }
  @media (max-width:500px) {
    .players{
        display: flex;
       flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    
    }
    .blogs{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses{
        flex-wrap: wrap;
        
     }
     .latest-course{
        height: auto;
     }
     .main-nav{
        width: 100%;
        justify-content: center;
     }
     .nav-container{
        /* display: flex; */
        width: 100%;
        background-color: #fff52e;
    }
    .container{
        width: 100%;
    }
    .top-player h2,.top-blog h2,.latest-course h2{
        text-align: center;
    }
    
  }
